.widget-header {
    background: $widgetTitle;
    color: $off-white;
    padding: $s-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title {
    margin: 0;
    }

.widget-body {
    background: $widgetBody;
}

.widget__message {
    color: $widgetMessage;
    margin: none;
    padding: $l-size;
    text-align: center;
    border-bottom: 0.2rem solid lighten($widgetBody, 10%);
}

.widget-body__item {
    display: flex;
    justify-content: space-between;
}